<VirtualHost *:80>
    ServerName mynet-723.com
    ServerAlias www.mynet-723.com
    DocumentRoot /var/nfs/www/mynet-723.com/html
    <Directory /var/nfs/www/mynet-723.com/html>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog /var/nfs/www/mynet-723.com/log/error.log
    CustomLog "| /bin/sh -c '/usr/bin/tee -a /var/nfs/www/mynet-723.com/log/requests.log | /usr/bin/logger -thttpd_mynet -plocal1.notice'" combined
</VirtualHost>